body {
	background-color: #ffffff;
	font-family: 'Cabin', sans-serif;
}

img {
	max-width: 100%;
}
.darkbg {
	background: url(../images/Glow-01.jpg) no-repeat top left;
	background-size: 100%;
}

.brightbg {
	background: url(../images/Glow-02.jpg) no-repeat top left;
	background-size:  100%;
}

.indoorsbg {
	background: url(../images/Glow-03.jpg) no-repeat top left;
	background-size: 100%;
}

.lowbg {
	background: url(../images/Glow-04.jpg) no-repeat top left;
	background-size: 100%;
}

.container {
	width: 960px;
	height: 1000px;
	background-color: white;
	margin: 0 auto;
}
.header {
	width: 750px;
	height: 50px;
	background-color: #ffffff;
	margin: left;

}

.about {
	width: 250px;
	height: 175px;
	background-color: #ffffff;
	margin: left;
	text-align: left;

}


.image {
	width: 100%;
}
.buttons {
	width:640px;
	height: 30px;
	margin: 0 auto;
}

.bright {
	width: 100px;
	height: 30px;
	background-color: #ff51f8;
	margin: 10px;
	float: left;
	border-radius: 25px;
	border: 4px solid;
	border-color: #6149ff;
	box-shadow: 3px 3px 3px #d6d0ff;

}

.indoors {
	width: 100px;
	height: 30px;
	background-color: #ff51f8;
	margin: 10px;
	float: left;
	border-radius: 25px;
	border: 4px solid;
	border-color: #6149ff;
	box-shadow: 3px 3px 3px #d6d0ff;
}


.mid {
	width: 100px;
	height: 30px;
	background-color: #ff51f8;
	margin: 10px;
	float: left;
	border-radius: 25px;
	border: 4px solid;
	border-color: #6149ff;
	box-shadow: 3px 3px 3px #d6d0ff;
}

.low {
	width: 100px;
	height: 30px;
	background-color: #ff51f8;
	margin: 10px;
	float: left;
	border-radius: 25px;
	border: 4px solid;
	border-color: #6149ff;
	box-shadow: 3px 3px 3px #d6d0ff;
}

.dark {
	width: 100px;
	height: 30px;
	background-color: #ff51f8;
	margin: 10px;
	float: left;
	border-radius: 25px;
	border: 4px solid;
	border-color: #6149ff;
	box-shadow: 3px 3px 3px #d6d0ff;
}

.explain {
	width: 500px;
	height: 400px;
	background-color: white;
	text-align: left;
	float: center;

}

h1 {
	font-weight: 700;
	font-size: 48px;

}

h2 { font-size: 15px;
	
	}

h3 {
	font-size: 10px;
	text-align: center;
}

/* unvisited link */
a:link, a:visited {
    text-decoration: none;
    color:black;
}

/* mouse over link */
a:hover, a:active {
    color: blue;
    text-decoration: none;
}